.movie-card {
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%; // Flex 아이템 너비에 맞춰짐
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        transform: scale(1.05);
        z-index: 10;

        .movie-card__title {
            color: #e50914;
        }
    }

    &__poster-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 150%;
        border-radius: 8px;
        overflow: hidden;
        background-color: #1f1f1f;
        margin-bottom: 12px;
        flex-shrink: 0;
    }

    &__poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        &--no-image {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-border;
            color: $color-text-secondary;
            font-size: 13px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;

        line-height: 24px;
        height: 24px;

        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__rating {
        font-size: 14px;
        color: #b3b3b3;

        line-height: 21px;
        margin-top: auto;
    }
}
