// 뼈대 애니메이션
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.skeleton-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__poster,
    &__text {
        background: #2a2a2a;
        background-image: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite linear;
        border-radius: 4px;
    }

    &__poster {
        width: 100%;
        padding-bottom: 150%;
        height: 0;
        border-radius: 8px;
        margin-bottom: 12px;
        flex-shrink: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__text {
        &--title {
            width: 80%;
            height: 24px;
            margin-bottom: 4px;
        }

        &--rating {
            width: 40%;
            height: 21px;
            margin-top: auto;
        }
    }
}
