@use "variables" as *;
@use "reset";

body {
    background-color: $color-background;
    color: $color-text-primary;
    line-height: 1.5;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $color-background;
}

::-webkit-scrollbar-thumb {
    background: $color-border;
    border-radius: 4px;

    &:hover {
        background: $color-text-secondary;
    }
}
